files/sublime-text/Package Control.cache
files/sublime-text/Package Control.merged-ca-bundle
files/sublime-text/Package Control.last-run
files/sublime-text/GoSublime-aux.sublime-settings
files/sublime-text/GoSublime
shell/extra.sh
